@model MVCDemo.Models.Employee
@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

<script src="~/Scripts/jquery-1.12.4.min.js"></script>
<script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
<link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
<link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />

<script type="text/javascript">
    $(function () {
        $("input:text.date").datepicker(
        {
            dateFormat: "dd/mm/yy"
        });
    });   
</script>

@using (@Html.BeginForm())
{
    @Html.EditorForModel()
    <br />
    <input type="submit" value="Save" />
}

