@model IEnumerable<MVCDemo.Models.Employee>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script type="text/javascript" language="javascript">
    $(function () {
        $("#checkAll").click(function () {

            //When the checkbox in the header is selected, all the checkboxes in the respective rows should be selected.
            //When the checkbox in the header is deselected, all the checkboxes in the respective rows should be
            //deselected as well.
            $("input[name='employeeIdsToDelete']").attr("checked", this.checked);

            $("input[name='employeeIdsToDelete']").click(function () {
                // If we start to select each checkbox in the datarows, and upon selecting checkboxes in all the datarows,
                //the checkbox in the header should be selected.
                if ($("input[name='employeeIdsToDelete']").length == $("input[name='employeeIdsToDelete']:checked").length) {
                    $("#checkAll").attr("checked", "checked");
                }
                //If we deselect any of the checkbox, then the header checkbox should be automatically deselected.
                else {
                    $("#checkAll").removeAttr("checked");
                }
            });

        });
        $("#btnSubmit").click(function () {
            var count = $("input[name='employeeIdsToDelete']:checked").length;
            if (count == 0) {
                alert("No rows selected to delete");
                return false;
            }
            else {
                //We need a client side confirmation, on the number of rows to be deleted. The selected rows should be
                //deleted from the database table, only when OK button is clicked.If cancel button is clicked, the form
                //should not be posted to the server, and no rows should be deleted.
                return confirm(count + " row(s) will be deleted");
            }
        });
    });
</script>

<div style="font-family:Arial">
    <h2>Employee List</h2>

    @using (Html.BeginForm("Delete", "Home", FormMethod.Post))
    {
        <table border="1">
            <thead>
                <tr>
                    <th>
                        <input type="checkbox" id="checkAll" />
                    </th>
                    <th>
                        Name
                    </th>
                    <th>
                        Gender
                    </th>
                    <th>
                        Email
                    </th>
                </tr>
            </thead>
            <tbody>
                <!--Since we have a editor template with the same name as the model of this view (Employee)
                    below line of code will render the editor template view content in this view -->
                @Html.EditorForModel()
            </tbody>
        </table>
        <input type="submit" id="btnSubmit" value="Delete selected employees" />
    }
</div>

