
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@*Notice that, here the view is not strongly typed, and we are hard-coding the name 
    for TextBox and DropDownList HTML helpers.*@
@Html.TextBox("CompanyName", (string)ViewBag.CompanyName)
<br />
@Html.DropDownList("Departments", "Select Department")

