<h2>Countries List</h2>

@*To invoke childaction, we are using Action() HTML Helper.*@
@Html.Action("Countries", new { countryData = new List<string>() { "US", "UK", "India" } })

@*Child actions can also be invoked using "RenderAction()" HTMl helper as shown below.*@
@{
    Html.RenderAction("Countries", new { countryData = new List<string>() { "US", "UK", "India" } });
}



