<div style="font-family:Arial">

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>

    <h2>Students</h2>

    <script type="text/javascript" language="javascript">

        function ClearResults() {
            $("#divStudents").empty();
        }

        function CountRows() {
            alert(($("#tableStudents tr").length - 1) + 'rows retrieved');
        }

    </script>

    @Ajax.ActionLink("All", "All",
    new AjaxOptions
    {
        HttpMethod = "GET", // HttpMethod to use, GET or POST
        UpdateTargetId = "divStudents", // ID of the HTML element to update
        InsertionMode = InsertionMode.Replace, // Replace the existing contents
        LoadingElementId = "divloading",
        OnBegin = "ClearResults",
        OnSuccess = "CountRows",
        LoadingElementDuration = 2000
    })

    <span style="color:Blue">|</span>

    @Ajax.ActionLink("Top 3", "Top3",
    new AjaxOptions
    {
        HttpMethod = "GET", // HttpMethod to use, GET or POST
        UpdateTargetId = "divStudents", // ID of the HTML element to update
        InsertionMode = InsertionMode.Replace, // Replace the existing contents
        LoadingElementId = "divloading",
        OnBegin = "ClearResults",
        OnSuccess = "CountRows",
        LoadingElementDuration = 2000
    })

    <span style="color:Blue">|</span>

    @Ajax.ActionLink("Bottom 3", "Bottom3",
    new AjaxOptions
    {
        HttpMethod = "GET", // HttpMethod to use, GET or POST
        UpdateTargetId = "divStudents", // ID of the HTML element to update
        InsertionMode = InsertionMode.Replace, // Replace the existing contents
        LoadingElementId = "divloading",
        OnBegin = "ClearResults",
        OnSuccess = "CountRows",
        LoadingElementDuration = 2000
    })

    <br /><br />
    <div id="divloading" style="display:none;">
        <img src="~/Images/spinner.gif" />
    </div>
    <div id="divStudents">
    </div>
</div>
