
@model MVCDemo.Models.Company
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@using (Html.BeginForm())
{
    foreach (var department in Model.Departments)
    {
        @Html.RadioButtonFor(m => m.SelectedDepartment, department.Id,
                                    (department.IsSelected.HasValue && department.IsSelected.Value) ? new { @checked = "checked" } : null
                                    ) @department.Name
    }
    <br />
    <br />
    <input type="submit" value="Submit" />
}